@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Material Icons */
.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    background-color: #f0fdf4;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c5fbee;
}

/* Main Content Area */
main {
    display: grid;
    padding: 50px;
}

/* Home Link */
.home-link {
    padding: 20px;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
}

/* Login Container */
.login-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}