body {
    background-color: #f4f6f9;
    font-family: 'Kanit', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-link {
    padding: 20px;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
}

.login-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-card {
    background-color: #c0fce8;
    width: 100%;
    max-width: 400px;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
}

.form-label {
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

.form-control {
    border-radius: 15px;
    border: none;
    padding: 10px 15px;
}

.btn-login {
    background-color: #00dca0;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 1rem;
    transition: all 0.3s;
}

.btn-login:hover {
    background-color: #00b886;
}

.mb-custom {
    margin-bottom: 25px;
}

.bg-custom-mint {
    background-color: #1DE9B6;
}

.navbar-brand, .nav-link {
    color: #333 !important;
    /* สีตัวอักษรเข้ม */
    font-weight: 500;
}

/* ปรับระยะห่างของเมนูตรงกลางให้ดูสมดุล */
.center-menu .nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

/* ส่วนหัวข้อตรงกลางหน้า */
.welcome-text {
    margin-top: 50px;
    font-size: 2rem;
    color: #000;
}

.bth-logout {
    color: red !important;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    font-size: 1rem;
    transition: all 0.3s;
}

.btn-setting {
    background-color: white;
    color: black !important;
    border-radius: 100px;
    padding: 5px 20px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}